:root {
  --accent-color: #5928a4
}

.post-content blockquote {
  border-inline-start: 3px solid var(--accent-color);
}

.post-meta a {
  text-decoration: underline;
}

.notice-info {
  padding: 0.5rem 1rem;
  border-left: 5px solid var(--accent-color);

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.post-series {
  background: var(--code-bg);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 1.5rem 1rem 0 1rem;
  margin-bottom: 2rem;
}

.home-info .entry-content p:not(:last-child) {
  margin-bottom: 1rem;
}

code.language-markdown {
  white-space: pre-wrap;
  word-break: break-word !important;
}

#newsletter-container .formkit-form {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  max-width: none;
}
