.home-info .entry-content p:not(:last-child) {
  margin-bottom: 1rem;
}

code.language-markdown {
  white-space: pre-wrap;
  word-break: break-word !important;
}

#newsletter-container .formkit-form {
  border: 1px solid var(--border);
  border-radius: var(--radius);
}
