<hr>
<div class="buy-me-a-coffee-wrapper">
  <p>Writing without a paywall or gross internet tracking ads is important to me, but writing these posts does take time. If you have enjoyed this post and others, I'd be delighted if you consider buying me a coffee! It's a low friction means to support my work on a one-off or recurring basis. 💜</p>
  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="skylerlemay" data-color="#5928a3" data-emoji="" data-font="Arial" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
</div>
